body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*container start*/
.container{
    width: 100%;
    height: 100vh;
}

.logo{
    position: absolute;
    left: 90px;
    top: 50px;
}

.logo a{
    text-decoration: none;
    text-shadow: 1px 1px 30px  rgba(0,0,0,0.2);
    font-weight: bold;
    color: black;
    font-size: 2rem;
    letter-spacing: 1;
}

.searcharea{
    position: fixed;
    top: 50px;
    right: 90px;
    width: 170px;
    height: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: none;
    outline: none;
}

.searchbox input{
    width: 90px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding: 0 10px;
}

.searchbox input::placeholder{
    color: rgb(44, 42, 42);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: .8rem;
    font-family: poppins;
}

.section1{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%,-50%);
}

.section1 img{
    height: 300px;
}

.section2{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%,-50%);
}

.section2 h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
    line-height: 60px;
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.08);
    letter-spacing: 3px;
    color: #3D3D4A;
    text-transform: uppercase;
}

span{
    color: #7A72FF;
}

.section2 h1{
    letter-spacing: 32px;
}

.section2 .btn1{
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-top: 20px;
    color: #fff;
    font-family: calibri;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .5px;
    outline: none;
    cursor: pointer;
    border: transparent !important;
}

.section2 .btn1:hover{
    color: #fff;
    background-color: #7A72FF;
    transition: all ease 0.5s;
}

.iconarea{
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    padding: 5px 0px;
    z-index: 1;
}

.iconarea a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    text-decoration: none;
}

.iconarea a i{
    color: rgb(69, 67, 67);
    font-size: 20px;
}

.iconarea a:hover .fa-facebook{
    color: rgb(8, 8, 245);
}
.iconarea a:hover .fa-twitter{
    color: rgb(14, 14, 241);
}
.iconarea a:hover .fa-instagram{
  color: rgb(247, 6, 6);
}
.iconarea a:hover .fa-youtube{
    color: rgb(227, 15, 15);
}
/*container end*/

/*product section start*/

.productsection{
    width: 85%;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}

.productsection h3{
    margin: 20px;
    text-shadow:  2px 2px 10px rgba(0,0,0,0.05);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    color: #323543;
}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}

.productbox {
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}

.productbox img{
    height: 180px;
}

.productbox p{
    color: #4d4d4d70;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    letter-spacing: .5px;
}

.productbox a{
    color: #2c2c2c;
    font-family: poppins;
    font-size: 1rem;
    text-decoration: none;
}

.btn2{
    position: absolute;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: #fff;
    display: none;
    animation: forwards 0.2s;
}

.productbox:hover .btn2{
    display: flex;
    color: #fff;
    transition: all ease 0.3s;
}

.productbox:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    color: #fff;
}
/*product section end*/

/*about section start*/

.about{
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.aboutbox{
    width: 40%;
    font-family: sans-serif;
}

.aboutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aboutbox h1{
    color: #333;
    font-size: 3rem;
    font-weight: 700;
    margin: 0px;
}

.aboutbox h4{
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutbox p{
    font-size: 1rem;
    letter-spacing: .5px;
    color: #bdbdbd;
}
.aboutbox a{
    text-decoration: none;
}
/*about section end*/

/*notification section start*/

.notification{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification h1{
    font-size: 1.5rem;
    color: rgb(56, 56, 56);
}
.notificationinput{
    width: 500px;
    height: 60px;
    color: #fff;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    margin-top: 30px;
}

.email{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}

.btn3{
    width: 120px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    border: none;
    outline: none;
    cursor: pointer;
}

.btn3:hover{
    background-color: #6b60ec;
    transition: all ease .5s;
}

/*notification section end*/

/*footer start*/
footer{
   background-color: black !important;
   padding: 20px;
}

footer p{
    color: #f2f2f2;
    text-align: center;
}
/*footer end*/
